{% extends "base.html" %}
{% block title %}Gestión de Archivos{% endblock %}
{% block content %}
<style>

    /* Estilo para los contenedores de tipo de archivo */
    .tipo-video, .tipo-audio, .tipo-imagen, .tipo-documento, .tipo-pdf {
        display: flex; /* Activa el flexbox para la disposición horizontal */
        flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no caben */
    }

    /* ... tus estilos personalizados para la gestión de archivos ... */
    .card {
        box-shadow: none !important;
    }
    .btn {
        box-shadow: none !important;
    }
    .modal-content {
        box-shadow: none !important;
    }
    /* Es posible que necesites añadir más selectores si observas sombras en otros elementos */

    .tipo-video .col-md-4,
    .tipo-audio .col-md-4,
    .tipo-documento .col-md-4,
    .tipo-pdf .col-md-4,
    .tipo-imagen .col-md-3 { /* Mantenemos el ancho específico para imágenes */
        box-sizing: border-box; /* Incluye el padding y el border en el ancho */
        padding-right: 15px; /* Espacio entre las tarjetas (ajusta si es necesario) */
        padding-left: 15px;
        margin-bottom: 30px; /* Espacio debajo de cada tarjeta */
    }

    /* Ajustes para pantallas más pequeñas (opcional) */
    @media (max-width: 992px) { /* Para pantallas medianas (tablets) */
        .tipo-video .col-md-4,
        .tipo-audio .col-md-4,
        .tipo-documento .col-md-4,
        .tipo-pdf .col-md-4,
        .tipo-imagen .col-md-3 {
            width: 50%; /* Mostrar 2 elementos por fila */
        }
    }

    @media (max-width: 576px) { /* Para pantallas pequeñas (móviles) */
        .tipo-video .col-md-4,
        .tipo-audio .col-md-4,
        .tipo-documento .col-md-4,
        .tipo-pdf .col-md-4,
        .tipo-imagen .col-md-3 {
            width: 100%; /* Mostrar 1 elemento por fila */
        }
    }

    /* Estilos para ocultar/mostrar por tipo */
    .oculto {
        display: none !important;
    }

    /* Estilos para el modal */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        position: relative; /* Para posicionar el botón de cerrar */
    }

    .close-button {
        color: #aaa;
        position: absolute; /* Posicionamiento absoluto */
        top: 10px;          /* Ajusta la posición vertical */
        right: 15px;         /* Ajusta la posición horizontal */
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;    /* Indica que es un elemento interactivo */
    }

    .close-button:hover,
    .close-button:focus {
        color: black;
        text-decoration: none;
    }

    .modal-buttons {
        margin-top: 20px;
        display: flex;        /* Usa flexbox para los botones */
        justify-content: space-between; /* Espacio entre botones */
        align-items: center;    /* Centrar verticalmente los botones, si es necesario */
    }
    .modal-buttons button {
        margin: 0; /* Elimina el margen por defecto de los botones */
    }
</style>

<div class="container mt-4">
    <div class="mb-3">
        <label for="tipo_filtro" class="form-label">Filtrar por tipo:</label>
        <select class="form-select" id="tipo_filtro" onchange="filtrarPorTipo()">
            <option value="">Mostrar todos</option>
            <option value="video">Videos</option>
            <option value="audio">Audio</option>
            <option value="imagen">Imágenes</option>
            <option value="documento">Documentos (General)</option>
            <option value="pdf">PDFs</option>
        </select>
    </div>

    <div id="archivos-container">
        <h2 class="mt-4"><span class="icon-film"></span> VIDEOS</h2>
        <div class="row tipo-video">
            {% for item in archivos %}
                {% if item.tipo == 'video' %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">{{ item.nombre_archivo }}</h5>
                                <video controls class="card-img-top">
                                    <source src="{{ url_for('uploaded_file', filename=item.nombre_archivo) }}" type="{{ item.mimetype }}">
                                    Tu navegador no soporta la reproducción de video.
                                </video>
                                <hr>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-warning btn-sm" onclick="mostrarModal('{{ item.nombre_archivo }}', '{{ url_for('borrar', nombre_archivo=item.nombre_archivo) }}')">Borrar</a>
                                    <a href="{{ url_for('descargar', nombre_archivo=item.nombre_archivo) }}" class="btn btn-success btn-sm ml-1">Descargar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if not archivos|selectattr('tipo', 'equalto', 'video')|list %}
                <div class="col-12">
                    <p>No hay videos subidos.</p>
                </div>
            {% endif %}
        </div>

        <h2 class="mt-4"><i class="icon-music"></i> AUDIO</h2>
        <div class="row tipo-audio">
            {% for item in archivos %}
                {% if item.tipo == 'audio' %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">{{ item.nombre_archivo }}</h5>
                                <audio controls class="card-img-top">
                                    <source src="{{ url_for('uploaded_file', filename=item.nombre_archivo) }}" type="{{ item.mimetype }}">
                                    Tu navegador no soporta la reproducción de audio.
                                </audio>
                                <hr>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-warning btn-sm" onclick="mostrarModal('{{ item.nombre_archivo }}', '{{ url_for('borrar', nombre_archivo=item.nombre_archivo) }}')">Borrar</a>
                                    <a href="{{ url_for('descargar', nombre_archivo=item.nombre_archivo) }}" class="btn btn-success btn-sm ml-1">Descargar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if not archivos|selectattr('tipo', 'equalto', 'audio')|list %}
                <div class="col-12">
                    <p>No hay audios subidos.</p>
                </div>
            {% endif %}
        </div>

        <h2 class="mt-4"><i class="icon-image"></i> IMÁGENES</h2>
        <div class="row tipo-imagen">
            {% for item in archivos %}
                {% if item.tipo == 'imagen' %}
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">{{ item.nombre_archivo }}</h5>
                                <img src="{{ url_for('uploaded_file', filename=item.nombre_archivo) }}" class="card-img-top" alt="Imagen Subida">
                                <hr>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-warning btn-sm" onclick="mostrarModal('{{ item.nombre_archivo }}', '{{ url_for('borrar', nombre_archivo=item.nombre_archivo) }}')">Borrar</a>
                                    <a href="{{ url_for('descargar', nombre_archivo=item.nombre_archivo) }}" class="btn btn-success btn-sm ml-1">Descargar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if not archivos|selectattr('tipo', 'equalto', 'imagen')|list %}
                <div class="col-12">
                    <p>No hay imágenes subidas.</p>
                </div>
            {% endif %}
        </div>

        <h2 class="mt-4"><span class="icon-doc-text-inv"></span> DOCUMENTOS (General)</h2>
        <div class="row tipo-documento">
            {% for item in archivos %}
                {% if item.tipo == 'documento' and item.mimetype != 'application/pdf' %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">{{ item.nombre_archivo }}</h5>
                                <p>Tipo: {{ item.mimetype }}</p>
                                <hr>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-warning btn-sm" onclick="mostrarModal('{{ item.nombre_archivo }}', '{{ url_for('borrar', nombre_archivo=item.nombre_archivo) }}')">Borrar</a>
                                    <a href="{{ url_for('descargar', nombre_archivo=item.nombre_archivo) }}" class="btn btn-success btn-sm ml-1">Descargar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if not archivos|selectattr('tipo', 'equalto', 'documento')|rejectattr('mimetype', 'equalto', 'application/pdf')|list %}
                <div class="col-12">
                    <p>No hay otros documentos subidos.</p>
                </div>
            {% endif %}
        </div>

        <h2 class="mt-4"><span class="icon-file-pdf"></span> PDFs</h2>
        <div class="row tipo-pdf">
            {% for item in archivos %}
                {% if item.tipo == 'pdf' %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">{{ item.nombre_archivo }}</h5>
                                <a href="{{ url_for('uploaded_file', filename=item.nombre_archivo) }}" target="_blank" class="btn btn-outline-info btn-block mb-2">
                                    Ver PDF
                                </a>
                                <hr>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-warning btn-sm" onclick="mostrarModal('{{ item.nombre_archivo }}', '{{ url_for('borrar', nombre_archivo=item.nombre_archivo) }}')">Borrar</a>
                                    <a href="{{ url_for('descargar', nombre_archivo=item.nombre_archivo) }}" class="btn btn-success btn-sm ml-1">Descargar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if not archivos|selectattr('tipo', 'equalto', 'pdf')|list %}
                <div class="col-12">
                    <p>No hay PDFs subidos.</p>
                </div>
            {% endif %}
        </div>
    </div>

    <h2 class="mt-4"><i class="icon-upload"></i> Subir Nuevo Archivo</h2>
    <form action="{{ url_for('subir') }}" method="post" enctype="multipart/form-data" id="miFormulario">
        <div class="mb-3">
            <label for="miArchivo" class="form-label">Selecciona un archivo:</label>
            <input type="file" name="miArchivo" id="miArchivo" class="form-control">
        </div>
        <button type="submit" id="miBoton" class="btn btn-primary">Subir</button>
    </form>

    <div id="confirmarBorrarModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="cerrarModal()">&times;</span>
            <p>¿Estás seguro de que deseas borrar el archivo: <strong id="nombreArchivoBorrar"></strong>?</p>
            <div class="modal-buttons">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cancelar</button>
                <form method="POST" action="" id="formBorrar">
                    <button type="submit" class="btn btn-danger">Sí, Borrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var modal = document.getElementById("confirmarBorrarModal");
    var nombreArchivoBorrar = document.getElementById("nombreArchivoBorrar");
    var formBorrar = document.getElementById("formBorrar");

    function mostrarModal(nombreArchivo, urlBorrar) {
        nombreArchivoBorrar.textContent = nombreArchivo;
        formBorrar.action = urlBorrar;
        modal.style.display = "block";
    }

    function cerrarModal() {
        modal.style.display = "none";
    }

    // Cerrar el modal si el usuario hace clic fuera de él
    window.onclick = function(event) {
        if (event.target == modal) {
            cerrarModal();
        }
    }

    function filtrarPorTipo() {
        const tipoFiltro = document.getElementById('tipo_filtro').value;
        const archivosContainer = document.getElementById('archivos-container');
        const titulos = archivosContainer.querySelectorAll('h2');
        const tiposArchivo = {
            'video': 'VIDEOS',
            'audio': 'AUDIO',
            'imagen': 'IMÁGENES',
            'documento': 'DOCUMENTOS (General)',
            'pdf': 'PDFs'
        };

        titulos.forEach(titulo => {
            const tipoTitulo = Object.keys(tiposArchivo).find(key => tiposArchivo[key] === titulo.innerText.trim());
            const contenedorTipo = titulo.nextElementSibling; // Asumimos que el div contenedor sigue al h2

            if (tipoFiltro === '') {
                // Mostrar todo si no hay filtro
                titulo.classList.remove('oculto');
                if (contenedorTipo) {
                    contenedorTipo.classList.remove('oculto');
                }
            } else if (tipoTitulo === tipoFiltro) {
                // Mostrar el título y el contenedor si coinciden con el filtro
                titulo.classList.remove('oculto');
                if (contenedorTipo) {
                    contenedorTipo.classList.remove('oculto');
                }
            } else {
                // Ocultar el título y el contenedor si no coinciden con el filtro
                titulo.classList.add('oculto');
                if (contenedorTipo) {
                    contenedorTipo.classList.add('oculto');
                }
            }
        });
    }
</script>
{% endblock %}
