<footer class="footer mt-5 text-white" style="background-color: orange;">
    <div class="container text-center py-3">
        <p>
            <strong>Hecho con </strong> <span class="text-danger">&#x2764;</span> por La Tribu De Los Libres
            <div class="time text-center"></div>
        </p>
        <p class="copyRight">
            | <strong class="copyRight">&copy; lthiking</strong> |
            <a href="{{ url_for('version') }}" class="text-white">Version {{ latest_version.titulo }}</a>
            <a href="https://www.facebook.com/LaTribuDeLosLibres/" target="_blank" class="text-white">
                <i class="bi bi-facebook"></i>
            </a>
        </p>
    </div>
</footer>