{% extends "base.html" %}  {# Asume que tienes un archivo base.html #}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Restablecer Contraseña</h1>
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="notification is-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form method="post">
                        <div class="field">
                            <label class="label">Nueva Contraseña</label>
                            <div class="control">
                                <input class="input" type="password" name="password" placeholder="Nueva contraseña" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">Restablecer Contraseña</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}