{% extends "base.html" %}
{% block content %} 

<div class="flex_container">
    <div class="container is-fluid">
    <div class="main-title has-text-centered">
    <h1 class="title ">{{titulo}}</h1>
   </div>
</div>


<body>
    <h1>Actualizar Publicación</h1>
    <form method="POST">
        <input type="text" name="title" value="{{ post.title }}" required><br>
        <textarea name="description" required>{{ post.description }}</textarea><br>
        <button type="submit">Actualizar</button>
    </form>
</body>



{% endblock %}