{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <section class="mb-5">
        <h1 class="mb-4">Versión 1.0</h1>
        <p class="mb-5">explicación</p>

        {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('version') }}">
            <div class="input-group mb-3">
                <input type="text" name="titulo" class="form-control" placeholder="Nueva tarea" required>
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit">Agregar Tarea</button>
                </div>
            </div>
        </form>
        <hr>
        <ul class="list-group mt-5">
            {% endif %}

            {% for tarea in tareas %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <form method="POST" action="{{ url_for('completar_tarea', tarea_id=tarea.id) }}">
                        <div class="form-check">
                            {% if current_user.is_authenticated %}
                            <input class="form-check-input" type="checkbox" name="tarea_id" value="{{ tarea.id }}" {% if tarea.completada %} checked {% endif %} onchange="this.form.submit()">
                            {% endif %}
                            <label class="form-check-label {% if tarea.completada %}text-muted text-decoration-line-through{% endif %}">
                                {{ tarea.titulo | title }} {% if tarea.completada %} (Completado) {% endif %}
                            </label>
                        </div>
                    </form>
                </div>
                {% if current_user.is_authenticated %}
                <form method="POST" action="{{ url_for('borrar_tarea', tarea_id=tarea.id) }}" onsubmit="return confirmarBorrar()">
                    <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                </form>
                {% endif %}
            </li>
            {% endfor %}

            {% if current_user.is_authenticated %}
        </ul>
        {% endif %}
    </section>
</div>

<script>
    function confirmarBorrar() {
        return confirm("¿Estás seguro de que quieres borrar esta tarea?");
    }
</script>
{% endblock %}